---
interface Props {
  text?: string
  href?: string
}

const {
  text = '¿Estás interesado en colaborar juntos? No dudes en ponerte en contacto conmigo. ¡Estaré encantado de escuchar sobre tu proyecto!',
  href = '/#contacto',
} = Astro.props
---

<section class="project-contact">
  <p class="project-contact__text">{text}</p>
  <a href={href} aria-label="Ir a contacto" class="project-contact__link">
    <i class="bx bx-mail-send" aria-hidden="true"></i>Contacto
    <i class="bx bx-right-arrow-alt link-external-icon" aria-hidden="true"></i>
  </a>
</section>

<style>
  .project-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    margin-block-end: 8rem;
  }

  .project-contact__text {
    color: var(--text-color);
    text-align: center;
    text-wrap: pretty;
  }

  .project-contact__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-color);
  }

  .project-contact__link:hover {
    color: var(--title-color);
  }

  .project-contact__link:hover .link-external-icon {
    animation: float-up 2s ease-in-out infinite;
  }
</style>
