---
---

<button
  id="scroll-top"
  type="button"
  aria-label="Volver arriba"
  class="scroll-top"
>
  <i class="bx bx-up-arrow-alt" aria-hidden="true"></i>
</button>

<script>
  import { initScrollTop } from '@scripts/scroll'
  initScrollTop()
</script>
