@keyframes float-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.9rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes float-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotation {
    to {
        transform: rotate(1turn);
    }
}
