---
import { socialLinks } from '@data/site'
import ContactForm from '@components/home/ContactForm.astro'
import SocialLink from '@components/ui/SocialLink.astro'
---

<section class="contact-section section" id="contacto">
  <div class="container">
    <h2 class="section__title">Contacto</h2>
    <p class="section__description">Actualmente estoy disponible para asumir nuevos proyectos, así que siéntete libre de escribirme sobre cualquier idea que quieras contarme.</p>

    <div class="contact">
      <div class="contact__social">
        {socialLinks.map((link) => (
          <SocialLink
            href={link.href}
            label={link.label}
            icon={link.icon}
          />
        ))}
      </div>

      <ContactForm />
    </div>
  </div>
</section>

<style>
  .contact {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-block-start: 3rem;
    max-width: 60rem;
  }

  .contact__social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    min-width: 20rem;
  }

  .contact__social :global(.social-link) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.2rem;
    padding-inline: 1.5rem;
    border: var(--border-primary);
    border-radius: 0.5rem;
    transition: all 0.3s;
    color: var(--text-color);
  }

  .contact__social :global(.social-link):hover {
    color: var(--title-color);
    border: 0.1rem solid var(--text-color);
  }

  .contact__social :global(.social-link__icon) {
    font-size: 1.8rem;
  }

  .contact__social :global(.social-link__label) {
    font-size: 1.4rem;
  }
</style>
