---
import { getCollection } from 'astro:content'
import ProjectCard from '@components/home/ProjectCard.astro'

const projects = (await getCollection('projects')).sort(
  (a, b) => a.data.order - b.data.order
)
---

<section class="projects-section section" id="proyectos">
  <div class="container">
    <h2 class="section__title">Proyectos</h2>
    <div class="projects">
      {projects.map((project) => (
        <ProjectCard
          title={project.data.title}
          slug={project.id}
          year={project.data.year ?? new Date().getFullYear()}
          summary={project.data.description}
          thumbnail={{
            full: project.data.cover,
            md: project.data.cover.replace('.webp', '-543.webp'),
            sm: project.data.cover.replace('.webp', '-380.webp'),
          }}
        />
      ))}
    </div>
  </div>
</section>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-block-start: 4.5rem;
  }

  @media (min-width: 768px) {
    .projects {
      gap: 5rem;
    }
  }
</style>
