---
import MainLayout from '@layouts/MainLayout.astro'
import HeroSection from '@components/sections/HeroSection.astro'
import ExperienceSection from '@components/sections/ExperienceSection.astro'
import ProjectsSection from '@components/sections/ProjectsSection.astro'
import SkillsSection from '@components/sections/SkillsSection.astro'
import ContactSection from '@components/sections/ContactSection.astro'
import { siteConfig } from '@data/site'
---

<MainLayout title={siteConfig.title} description={siteConfig.description}>
  <main>
    <HeroSection />
    <ExperienceSection />
    <ProjectsSection />
    <SkillsSection />
    <ContactSection />
  </main>
</MainLayout>
